WebContent/wsdl/ImobilariaControle.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://controle.uni7.tcc.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://controle.uni7.tcc.br" xmlns:intf="http://controle.uni7.tcc.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://controle.uni7.tcc.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getValorIPTUImovel">
    <complexType>
     <sequence>
      <element name="codigoImovel" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getValorIPTUImovelResponse">
    <complexType>
     <sequence>
      <element name="getValorIPTUImovelReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLocalizacaoImovel">
    <complexType>
     <sequence>
      <element name="codigoImovel" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLocalizacaoImovelResponse">
    <complexType>
     <sequence>
      <element name="getLocalizacaoImovelReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getValorAluguelImovel">
    <complexType>
     <sequence>
      <element name="codigoImovel" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getValorAluguelImovelResponse">
    <complexType>
     <sequence>
      <element name="getValorAluguelImovelReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getValorImovel">
    <complexType>
     <sequence>
      <element name="codigoImovel" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getValorImovelResponse">
    <complexType>
     <sequence>
      <element name="getValorImovelReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getLocalizacaoImovelRequest">

      <wsdl:part element="impl:getLocalizacaoImovel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getValorAluguelImovelResponse">

      <wsdl:part element="impl:getValorAluguelImovelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getValorIPTUImovelResponse">

      <wsdl:part element="impl:getValorIPTUImovelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getValorImovelRequest">

      <wsdl:part element="impl:getValorImovel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getValorIPTUImovelRequest">

      <wsdl:part element="impl:getValorIPTUImovel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getValorImovelResponse">

      <wsdl:part element="impl:getValorImovelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getLocalizacaoImovelResponse">

      <wsdl:part element="impl:getLocalizacaoImovelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getValorAluguelImovelRequest">

      <wsdl:part element="impl:getValorAluguelImovel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ImobilariaControle">

      <wsdl:operation name="getValorIPTUImovel">

         <wsdl:input message="impl:getValorIPTUImovelRequest" name="getValorIPTUImovelRequest">

       </wsdl:input>

         <wsdl:output message="impl:getValorIPTUImovelResponse" name="getValorIPTUImovelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLocalizacaoImovel">

         <wsdl:input message="impl:getLocalizacaoImovelRequest" name="getLocalizacaoImovelRequest">

       </wsdl:input>

         <wsdl:output message="impl:getLocalizacaoImovelResponse" name="getLocalizacaoImovelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getValorAluguelImovel">

         <wsdl:input message="impl:getValorAluguelImovelRequest" name="getValorAluguelImovelRequest">

       </wsdl:input>

         <wsdl:output message="impl:getValorAluguelImovelResponse" name="getValorAluguelImovelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getValorImovel">

         <wsdl:input message="impl:getValorImovelRequest" name="getValorImovelRequest">

       </wsdl:input>

         <wsdl:output message="impl:getValorImovelResponse" name="getValorImovelResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ImobilariaControleSoapBinding" type="impl:ImobilariaControle">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getValorIPTUImovel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getValorIPTUImovelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getValorIPTUImovelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLocalizacaoImovel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLocalizacaoImovelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLocalizacaoImovelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getValorAluguelImovel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getValorAluguelImovelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getValorAluguelImovelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getValorImovel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getValorImovelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getValorImovelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ImobilariaControleService">

      <wsdl:port binding="impl:ImobilariaControleSoapBinding" name="ImobilariaControle">

         <wsdlsoap:address location="http://localhost:8080/wsImobiliaria/services/ImobilariaControle"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
